.footer__container {
//  position: absolute;
  background-color: $granite-gray;
  text-align: center;
  width: 100%;
  padding-top: 3em;
  padding-left: 3em;
  padding-bottom: 2em;
}

.footer__logo {
  width: 150px;
}
